<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="SalesforceEdmlContext"
         connectionString="metadata=res://dotConnectSalesforce.Edml/SalesforceEntityDataModel.csdl|res://dotConnectSalesforce.Edml/SalesforceEntityDataModel.ssdl|res://dotConnectSalesforce.Edml/SalesforceEntityDataModel.msl;provider=Devart.Data.Salesforce;provider connection string=&quot;User Id=***;Password=***;Security Token=***;Persist Security Info=True;Host=test.salesforce.com;Deferred Login=False&quot;"
         providerName="System.Data.EntityClient" />
    <add name="SalesforceDbContext"
     connectionString="User Id=***;Password=***;Security Token=***;Persist Security Info=True;Host=test.salesforce.com;Deferred Login=False"
     providerName="Devart.Data.Salesforce" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="Devart.Data.Salesforce"
                type="Devart.Data.Salesforce.Entity.SalesforceEntityProviderServices, Devart.Data.Salesforce.Entity, Version=2.5.804.6, Culture=neutral, PublicKeyToken=09af7300eec23701" />
      <provider invariantName="System.Data.SqlClient"
                type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>